<app-nav></app-nav>
<!-- UI menu at the bottom -->
<app-ui-menu></app-ui-menu>
<app-ui-menu>
    <app-cycle-events [interval]="5000"></app-cycle-events>
  </app-ui-menu>
  <app-ui-menu-wrapper>
    <app-event-selector></app-event-selector>
    <app-cycle-events [interval]="5000"></app-cycle-events>
  </app-ui-menu-wrapper>
  <app-experiment-info experiment="ild"
                     logo="/assets/images/ild_image.jpg"
                     url="https://www.ilcild.org/"
                     tagline="ILD Experiment"></app-experiment-info>
                    
<!-- Phoenix menu at the top right -->
<app-phoenix-menu [rootNode]="phoenixMenuRoot"></app-phoenix-menu>
<div id="eventDisplay"></div>