<div class="container">
    <div class="text-center mt-3 mb-5">
        <img src="assets/images/logo-text.svg"
             alt="Phoenix@FCC"
             height="50"
        />
        <span style="font-size:50px;vertical-align:middle;">
        &commat;
        </span>
        <img src="assets/images/ild_logo.png"
              alt="ILC/ILD"
              height="70" />
        <p class="lead">Visualising Events at the International Large Detector (ILD)</p>
    </div>

    <div class="card">
        <img
          class="ild-image"
          src="assets/images/ild_noback.png"
          alt="ILD Logo"
        />
        <br>

        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title">The ILD based at the International Linear Collider</h5>

        <div> <p>Click below to choose the version:</p></div>
          <div class="drop_down_menu">
            <button class="btn btn-primary">Version Type</button>
          <div class="dropdown-content">
            <a routerLink="/ild1" routerLinkActive="active" class="btn btn-primary">ILD_l5_v02</a>
            <a routerLink="/ild2" routerLinkActive="active" class="btn btn-primary">ILD_l5_v11</a>
            <router-outlet></router-outlet>
          </div>
        </div>
        </div>

